<!DOCTYPE <html>
<head>
		<link href='http://fonts.googleapis.com/css?family=Poller+One' rel='stylesheet' type='text/css'>

		<script src="/assets/jquery.js"></script>

	<title>Robot</title>
	<h1>Robot</h1>
	<p>This robot is here to help you, just ask away and he'll will look on the interweb for as much information as possible in order to satisfy your hunger of knowledge.</p>
</head>
<body>
	<div class="robot">
		<div class="beep"></div>
		<div class="brain"></div>
		<div class="torso">
			<div class="left">j</div>
			<div class="right">j</div>
		</div>
		<div class="foot"></div>
	</div>

	<button class="flash">laser eyes on/off</button>

	
</body>
</html>