<!DOCTYPE <html>
<head>
	<title>Robot</title>
	<h1>Robot</h1>
	<p>This is a robot made with CSS</p>
</head>
<body>

	<div class="beep"></div>
	<div class="brain"></div>
	<div class="torso"></div>
	<div class="foot"></div>



</body>
</html>